 body {
    margin: 0;
    padding: 0;
    height: 98vh;
    overflow: hidden;
    background-color: lightblue;
 }
 
 .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
  
  .spacer {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .sift-emails-button {
    margin-bottom: 50vh;
  }

  .sift-emails-button button {
    height: 25px;
    width: 150px;
  }